@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-image: radial-gradient(rgba(203, 213, 225, 0.35) 1px, transparent 1px);
  background-size: 24px 24px;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}